/* You can add global styles to this file, and also import other style files */
body {
    background-color: #bdbcbc;
  }
  .container {
    background-color: white;
  }
  .nav-item {
    margin: 5px;
  }
  .nav-item .nav-link {
    background-color: #bdbcbc;
    color: grey;
  }
  .nav-item .nav-link.active {
    background-color: #396a7f;
    color: white;
  }
  .tab-content {
    min-height: 400px;
  }
  .tab-border {
    background-color: #dee5e6;
    border: 2px solid #396a7f;
    border-radius: 10px;
    padding: 15px;
  }
  .display-6 {
    font-size: 1.5rem;
  }
  .card i {
    margin-top: 1.5rem;
    font-size: 6rem;
    text-align: center;
    color: #bdbcbc;
  }
  .lead {
    font-size: 1rem;
  }
  .tag {
    position: absolute;
    right: 0;
    background-color: #396a7f;
    padding: 5px;
    font-size: 0.8rem;
    color: white;
  }
  .card button,
  .card button:hover {
    background-color: #396a7f;
    color: white;
  }
  .card button i,
  .card .support i {
    font-size: 1rem;
    margin-top: 0;
  }
  